<html>

    <head>
        <link rel="stylesheet" href="0620.css">
    </head>

    <body>
        <div class="title">
            <div id="함께혼밥1"><img src="혼밥일행찾기.png" width="75"></div>
            <div id="함께혼밥2">로그인</div>
            <div id="함께혼밥3">회원가입</div>
        </div>

        <div class="한식">
            <div id="first">한식</div>
            <div id="곱창" class="한식상세메뉴">곱창</div>
            <div id="냉면" class="한식상세메뉴">냉면</div>
            <div id="칼국수" class="한식상세메뉴">칼국수</div>
            <div id="부대찌개" class="한식상세메뉴">부대찌개</div>
            <div id="순대국" class="한식상세메뉴">순대국</div>
            <div id="김치찌개" class="한식상세메뉴">김치찌개</div>
            <div id="기타한식" class="한식상세메뉴">기타</div>
        </div>

        <div class="곱창">
            <div id="홍곱창"><img src="https://pbs.twimg.com/media/D1yR6hPVYAA7U_i.jpg" width="200"><br>홍곱창</div>
            <div id="천사곱창"><img src="https://www.seoulprice.com/media/review/1ef8e095-5f04-489a-8aaa-236ce139ac20.jpg" width="200"><br>천사곱창</div>
            <div id="서울대곱창"><img src="https://img.siksinhot.com/story/1541751610417011.jpg?w=307&h=300&c=Y" width="200" height="200"><br>서울대곱창</div>
            <div id="곱창의전설"><img src="https://mp-seoul-image-production-s3.mangoplate.com/255866/1151727_1591843252584_49042?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80" width="200"><br>곱창의전설</div>
            <div id="달곱"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSvFodIbMmLOTAqnpg2hPNR6Q5zsy9rWza8RA&usqp=CAU" width="200"><br>달곱</div>
        </div>

        <br><br><br><br><br><br>

    </body>
</html>